@page
@model Prj_Cadastro.Entities.Pessoa
@{
    ViewData["Title"] = "Home page";
}
<script type='text/javascript' src='https://code.jquery.com/jquery-1.11.0.js'></script>
<script type='text/javascript' src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>

<!-- Título da página, com lista de pessoas já cadastradas (ainda falta) -->
<div class="left">
    <h2>Bem vindo ao Cadastro de Pessoas</h2>
</div>